@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: theme("colors.background");
  color: theme("colors.foreground");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

::selection {
  background: theme("colors.accent.DEFAULT");
  color: theme("colors.background");
}
